html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
}

#root {
  height: 100%;
  width: 100%;
}

.initial-loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader-text {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  animation: pulse 2s infinite ease-in-out;
  opacity: 0.5;
}

.loader-bar {
  width: 100px;
  height: 2px;
  background: #111;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.loader-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #007aff;
  animation: load 3s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
