@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimalist global reset */
body {
  @apply bg-white dark:bg-[#0a0a0a] text-black dark:text-white transition-colors duration-300;
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
  display: flex;
  width: max-content;
}

@layer base {
  /* Chrome, Safari, and newer Edge */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #007aff;
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #007aff;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #007aff transparent;
  }
}
